/*
 * ----------------------------------
 *  exome_n-of-1 Nextflow config file
 * ----------------------------------
 * Default config options for all environments.
 */

params {

  container = 'library://bruce.moran/default/projects:somatic_exome_n-of-1.centos7.conda'
  includeOrder = null
  germline = null

}

profiles {
  standard {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genome.config'
  }
  conda { process.conda = "$baseDir/environment.yaml" }
  singularity { singularity.enabled = true }

}

process {

      container = 'library://bruce.moran/default/projects:somatic_exome_n-of-1.centos7.conda'

}

timeline {
  enabled = true
  file = "${baseDir}/pipeline_info/somatic_exome_n-of-1.timeline.html"
}

report {
  enabled = true
  file = "${baseDir}/pipeline_info/somatic_exome_n-of-1.report.html"
}

trace {
  enabled = true
  file = "${baseDir}/pipeline_info/somatic_exome_n-of-1.trace.txt"
}

dag {
  enabled = true
  file = "${baseDir}/pipeline_info/somatic_exome_n-of-1.dag.svg"
}
