/*
 * -------------------------------------------
 *  Nextflow base config file for exome_n-of-1
 * -------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in: nextflow.config
 */

params {

  full_javamem = "-Xmx120g"
  half_javamem = "-Xmx60g"
  quarter_javamem = "-Xmx30g"
  eighth_javamem = "-Xmx15g"
  twentieth_javamem = "-Xmx5g"

  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h

}

process {

  container = params.container

}
