/*
 * -------------------------------------------------
 *  Nextflow config file for IEHG Genome cluster
 * -------------------------------------------------
 * Imported under the 'genome' Nextflow profile in:
 * exome_n-of-1.nextflow.config
 */

process {

  executor = 'pbs'

  withName:bbduk {
    cpus = 8
    memory = 32.GB
    time = 36.h
  }
  withName:fastp {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:fastqc {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:bwamem {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:cram {
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:mrkdup {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:gtkrcl {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:gatkgerm {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:cpsrreport {
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
  withName:grmflt {
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:smaflt {
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:mltmet {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:fctcsv {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:fctcon {
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:mutct2 {
    cpus = 40
    memory = 128.GB
    time = 36.h
  }
  withName:mutct2_contam {
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:mntstr {
    cpus = 10
    memory = 30.GB
    time = 36.h
  }
  withName:mntstrmerge {
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:lancet {
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:vepann {
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
  withName:vcfGRa {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:pcgrreport {
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
  withName:mltiQC {
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
}

conda.cacheDir = '/data/genome/conda'
